:root {
  /* COLORS */
  --primary-color: #0065fe;
  --secondary-color: #005ae2;
  --tertiary-color: #3284ff;
  --white-color: #fff;

  /* COLORS - TEXT  */
  --primary-text-color: #141414;
  --primary-text-light: #fff;
  --secondary-text-color: #071827;
  --tertiary-text-color: #112232;

  /* COLORS - Aurora  */
  --aurora-red-color: #d60505;
  --aurora-green-color: #067808;
  --aurora-yellow-color: #eac81f;

  /* COLORS - BACKGROUND  */
  --primary-bg-color: #1e3448;
  --secondary-bg-color: #f9fbfd;
  --tertiary-bg-color: #3284ff21;
  --hero-card-bg-color: #fefefe1a;

  /* COLORS - BACKGROUND  */
  --primary-border-color: #d6d6d6;

  /* COLORS - LINEAR GRADIENT  */
  --primary-border-linear: linear-gradient(#112232, #fff) 5;
}
body {
  font-family: Gilroy-Medium;
  color: var(--primary-text-color);
}

#container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  max-width: 96rem;
  position: relative;
  margin: 0 auto;
}

/* ?GENERAL COMPONENTS STARTS HERE */

.hidden {
  display: none;
}

.wrapper {
  padding: 0 2rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: Gilroy-Bold;
  line-height: 2rem;
}

.logo a:hover {
  text-decoration: none;
}

.logo img {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 2px solid;
}

/* BUTTONS COMPONENT  */
button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6rem;
  line-height: 0.75rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--primary-text-light);
}

button:hover {
  border: 1px solid var(--primary-color);
  font-family: Gilroy-Bold;
  background-color: transparent;
  color: var(--primary-color);
}

button.outline {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

button.outline:hover {
  font-family: Gilroy-Medium;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-text-light);
}

/* LINKS COMPONENT */

a {
  color: var(--primary-color);
  font-family: Gilroy-Bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* INPUT AND SELECT COMPONENT */

input {
  color: var(--tertiary-color);
  font-size: 0.7rem;
  line-height: 1.125rem;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--tertiary-color);
  outline: none;
}

input::placeholder {
  color: var(--tertiary-color);
  font-size: 0.7rem;
  line-height: 1.125rem;
}

select {
  font-size: 0.875rem;
  line-height: 0.75rem;
  padding: 1.125rem;
  padding-right: 2.5rem;
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 0.75rem;
  outline: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url(../assets/icons/arrow-down-colored.svg);
  background-position: 88% 50%;
  background-repeat: no-repeat;
}

/* ?GENERAL COMPONENTS ENDS HERE */

/* AURORA STARTS HERE!!! */
#aurora div {
  width: 12.5rem;
  height: 13.5rem;
  position: absolute;
  border-radius: 10rem;
  filter: blur(22rem);
}

#aurora .red {
  background-color: var(--aurora-red-color);
  top: 0;
  left: 3rem;
}

#aurora .green {
  background-color: var(--aurora-green-color);
  top: 1rem;
  left: 30%;
}

#aurora .yellow {
  width: 18rem;
  height: 18.5rem;
  top: 7rem;
  right: 0;
  border-radius: 18rem;
  background-color: var(--aurora-yellow-color);
}
/* AURORA ENDS HERE!!! */

/* HEADER STARTS HERE!!! */

#header {
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ffffff33;
  backdrop-filter: blur(0.5rem);
}

#header .wrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header .nav {
  display: flex;
  column-gap: 2.5rem;
}

#header .nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-family: Gilroy-Medium;
  color: var(--primary-text-color);
}

#header .nav a .arrow {
  margin-left: 0.5rem;
}

#header .nav .url {
  color: var(--primary-color);
}

#header .cta {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

/* HEADER ENDS HERE!!! */

/* HERO SECTION STARTS HERE!!! */
#hero {
  margin-top: 4rem;
}

#hero .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero .hero-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

#hero h4 {
  font-size: 3rem;
  font-family: Gilroy-Bold;
  line-height: 6rem;
  margin-bottom: 1rem;
  text-align: center;
}

#hero h4 div {
  margin-top: -1rem;
  line-height: 0;
}

#hero h4 span {
  color: var(--secondary-color);
}

#hero .hero-text p {
  width: 60%;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#hero .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
}

#hero .hero-card {
  position: relative;
  z-index: 5;
  width: 50%;
}

#hero .hero-card > div {
  margin: 5rem 0;
  padding: 2.5rem 3.75rem;
  border: 0.5px solid var(--secondary-color);
  background-color: var(--hero-card-bg-color);
  backdrop-filter: blur(6.625rem);
  border-radius: 2rem;
}

#hero .hero-card p {
  margin: 0.5rem auto 0;
  padding-bottom: 0.5rem;
  text-align: center;
  font-family: Gilroy-Medium;
  line-height: 1.5rem;
  width: 60%;
}

#hero .hero-card .vector-bg {
  position: absolute;
  top: 4.1rem;
  left: 0.575rem;
  z-index: -5;
}

#hero .hero-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

#hero .hero-footer img {
  width: 100%;
}

#hero .hero-footer .ellipse {
  width: 60%;
  margin: 1.25rem 0;
  height: 50%;
  background: linear-gradient(
    180deg,
    rgba(226, 233, 240, 0.7) 10.68%,
    rgba(220, 228, 235, 0.7) 44.01%,
    rgba(226, 233, 240, 0) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(18, 36, 89, 0.35);
  border-radius: 100%;
  position: absolute;
}
/* HERO SECTION STARTS HERE!!! */

/* ONE STOP SECTION STARTS HERE!!! */

#one-stop {
  background-color: var(--secondary-bg-color);
  margin-bottom: 8rem;
  padding: 3.75rem 0;
}

#one-stop .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#one-stop aside {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-family: Gilroy-Bold;
  line-height: 3rem;
}

#one-stop aside span {
  color: var(--primary-color);
}

#one-stop ul {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 4.5rem;
}

#one-stop ul li {
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 9rem;
}

#one-stop ul li span {
  font-size: 2rem;
  font-family: Gilroy-Bold;
  line-height: 2.5rem;
}

/* ONE STOP SECTION ENDS HERE!!! */

/* WHY US SECTION STARTS HERE!!! */

#why-us {
  margin-bottom: 4rem;
}

#why-us .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 6rem;
}

#why-us aside {
  width: 30%;
  line-height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#why-us aside h4 {
  border-left: 5px solid;
  padding-left: 1rem;
  border-image: var(--primary-border-linear);
  font-size: 2.5rem;
  font-family: Gilroy-Bold;
  line-height: 2rem;
  margin-bottom: 1rem;
}
#why-us aside h4 span {
  color: var(--secondary-color);
}

#why-us aside p {
  padding-left: 1.5rem;
}

#why-us ul {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 1.75rem;
}

#why-us li span {
  padding: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: var(--tertiary-bg-color);
  margin-bottom: 2.5rem;
}
#why-us li span img {
  width: 1.5rem;
  height: 1.5rem;
}

#why-us li h5 {
  font-size: 2rem;
  font-family: Gilroy-Bold;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

#why-us li p {
  line-height: 1.5rem;
}

/* WHY US SECTION ENDS HERE!!! */

/* PLANS SECTION STARTS HERE!!! */

#plans {
  padding-bottom: 7rem;
}

#plans header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4.25rem;
  padding-top: 3rem;
}

#plans header div {
  max-width: 37rem;
}

#plans header h3 {
  font-size: 2.5rem;
  font-family: Gilroy-Bold;
  line-height: 3rem;
  border-left: 5px solid;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  border-image: var(--primary-border-linear);
}

#plans header h3 span {
  color: var(--secondary-color);
}

#plans header p {
  padding-left: 1.5rem;
  line-height: 1.5rem;
}

/* PLANS CARDS START HERE */

#plans .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.25rem;
}

#plans .cards > li {
  border: 0.4px solid var(--secondary-color);
  border-radius: 0.75rem;
  padding: 0 6rem;
}

#plans .cards li h6 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2.13rem;
  padding-top: 1.5rem;
}

#plans .cards li h4 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0.5rem;
}

#plans .cards li p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

#plans .cards li .features {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-bottom: 1.8rem;
}
#plans .cards li .features img {
  margin-right: 0.5rem;
}

#plans .cards .basic {
  margin-right: -3rem;
}

#plans .cards .teams {
  margin-left: -3rem;
}

#plans .cards .professional {
  border: none;
  padding: 6rem 6rem 6rem 4rem;
  z-index: 5;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-light);
}

#plans .cards .professional h6 {
  padding: 0;
  margin-bottom: 1.5rem;
}

#plans .cards .professional p {
  margin-bottom: 1.5rem;
}

#plans .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

#plans .cta .select-btn {
  padding: 0.75rem 2.5rem;
}

/* PLANS ENDS START HERE */

/* PLANS SECTION ENDS HERE!!! */

#gap {
  width: 15rem;
  height: 15rem;
}

/* PASTE URL SECTION STARTS HERE!!! */
#paste-url {
  background-color: var(--primary-bg-color);
  background-image: url(../assets/vectors/paste-url-left.svg),
    url(../assets/vectors/paste-url-right.svg);
  background-position: -800px -800px, 500px -100px;
  background-repeat: no-repeat;
  padding: 5rem 0;
}

#paste-url .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#paste-url form {
  background-color: var(--white-color);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  padding: 2.625rem;
  row-gap: 1.5rem;
  width: 100%;
  max-width: 22.5rem;
  border-radius: 0.75rem;
}

#paste-url form div {
  display: flex;
  column-gap: 0.75rem;
}

#paste-url form div input,
#paste-url form div select {
  width: 100%;
}

#paste-url form legend {
  padding: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#paste-url form legend a {
  font-family: Gilroy-Bold;
  font-size: 1rem;
}

/* PASTE URL SECTION ENDS HERE!!! */

/* FAQS SECTION STARTS HERE!!! */

#faqs {
  background-image: url(../assets/vectors/faqs-left.svg),
    url(../assets/vectors/faqs-right.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding: 3.5rem 0;
}

#faqs .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#faqs header h4 {
  font-size: 2.5rem;
  font-family: Gilroy-Bold;
  line-height: 2rem;
  margin-bottom: 4rem;
  border-left: 5px solid;
  padding-left: 1rem;
  border-image: var(--primary-border-linear);
}

#faqs ul {
  width: 60%;
}

#faqs ul li {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 0.4px solid var(--primary-border-color);
}

#faqs ul li div {
  line-height: 2rem;
}

#faqs ul li span {
  cursor: pointer;
}

#faqs ul li div {
  line-height: 2rem;
  font-size: 1.25rem;
}

#faqs ul li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  line-height: 2rem;
}

#faqs ul .open > div {
  margin-bottom: 1rem;
}

#faqs ul .open p {
  font-size: 1rem;
  line-height: 2rem;
}

/* FAQS SECTION ENDS HERE!!! */

/* REVOL SECTION STARTS HERE!!! */

#revol {
  background-color: var(--primary-bg-color);
  background-image: url(../assets/vectors/revol-left.svg),
    url(../assets/vectors/revol-right.svg);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  color: var(--primary-text-light);
  text-align: center;
  font-size: 2.5rem;
  font-family: Gilroy-Bold;
  line-height: 3rem;
  padding: 8rem 0 3.5rem;
}

/* REVOL SECTION ENDS HERE!!! */

/* FOOTER STARTS HERE!!! */
#footer {
  background-image: url(../assets/vectors/footer-left.svg),
    url(../assets/vectors/footer-right.svg);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  padding: 6rem 0 3rem;
}

#footer .wrap {
  display: flex;
}

#footer .wrap aside {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#footer .wrap aside .logo a {
  color: var(--primary-text-color);
}

#footer .wrap aside .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem;
}

#footer .wrap .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 1.5rem;
}

#footer .wrap .categories ul {
  padding: 0rem 1.5rem;
}

#footer .wrap .categories li a {
  color: var(--tertiary-text-color);
  font-family: Gilroy-Medium;
}

#footer .wrap .categories li {
  line-height: 1.5rem;
}

#footer .wrap .categories li.title {
  color: var(--secondary-text-color);
  font-size: 1rem;
  font-family: Gilroy-Bold;
  margin-bottom: 0.5rem;
}

#small {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 3rem;
}
#small li {
  color: var(--tertiary-text-color);
  font-size: 0.875rem;
  line-height: 0.75rem;
  border-right: 1.5px solid;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

#small li a {
  color: inherit;
  font-family: inherit;
}

#small li:last-child {
  padding: 0;
  margin: 0;
  border: none;
}

/* FOOTER ENDS HERE!!! */

/* MEDIA QUERIES STARTS HERE!!! */

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 1rem;
  }

  .hidden {
    display: block;
  }
  #header nav {
    display: none;
  }
  #header .cta {
    display: none;
  }

  #hero .hero-text {
    width: 100%;
  }

  #hero h4 {
    line-height: 3.75rem;
    font-size: 2.5rem;
  }

  #hero h4 div {
    display: none;
  }

  #hero .hero-text p {
    width: 100%;
  }

  #hero .hero-card {
    width: 100%;
  }

  #hero .hero-card > div {
    padding: 2.5rem 1rem;
  }
  #hero .hero-card > div img {
    width: 90%;
  }

  #hero .hero-card p {
    width: 100%;
  }

  #one-stop .wrapper > div {
    display: block;
  }

  #one-stop aside {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  #one-stop ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  #why-us .wrapper > div {
    flex-direction: column;
    row-gap: 3rem;
  }

  #why-us aside {
    width: 100%;
  }
  #why-us aside h4 {
    font-size: 2rem;
    padding-left: 0.5rem;
  }

  #why-us aside p {
    padding-left: 1rem;
  }

  #why-us ul {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    text-align: center;
  }

  #plans header h3 {
    margin-bottom: 1.5rem;
  }

  #plans .cards {
    flex-direction: column;
    row-gap: 2rem;
  }

  #plans .cards .basic {
    margin: 0;
  }

  #plans .cards .teams {
    margin: 0;
  }

  #plans .cta {
    flex-direction: column;
    row-gap: 1rem;
  }

  #plans .cta button {
    width: 80%;
  }

  #faqs ul {
    width: 100%;
    padding: 0 1rem;
  }

  #revol {
    background-image: url(../assets/vectors/revol-right.svg);
    background-position: bottom right;
  }

  #footer .wrap {
    flex-direction: column;
    row-gap: 2rem;
  }

  #footer .wrap .categories {
    grid-template-columns: 1fr;
  }

  #footer .wrap aside {
    width: 100%;
    align-items: start;
  }

  #footer .wrap .categories ul {
    padding: 0;
  }
}

/* MEDIA QUERIES ENDS HERE!!! */
